*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    font-family: 'Poppins', 'Libre Franklin', sans-serif;
}
.main{
    &__project{
        background-color:#F1F1F1;
    }
    &__about{
        background-color: #F1F1F1;
    }
}